
{% extends 'lock_web_interface/base.html' %}
{% block css %}
    <style>
    .login-card{
        min-height: 300px;
        min-width: 500px;
        border-radius: 5px;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .login-title{
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    .form-signup{
        margin: 3px
    }
    .errorlist{
        color: red;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid background">
        <div class="login-card">
            <div class="login-title"> Signup </div>
            <div class="login-content">
                {{error}}
                <form class="form-signup" action="{% url 'signup'%}" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{form.first_name.errors}}
                        {{form.first_name}}
                        <label>{{form.first_name.label}}</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{form.last_name.errors}}
                        {{form.last_name}}
                        <label>{{form.last_name.label}}</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{form.email.errors}}
                        {{form.email}}
                        <label>{{form.email.label}}</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{form.password1.errors}}
                        {{form.password1}}
                        <label>{{form.password1.label}}</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{form.password2.errors}}
                        {{form.password2}}
                        <label>{{form.password2.label}}</label>
                    </div>
                    <button type="submit" class="btn btn-success">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}